@use "../../../styles/tokens.scss" as *;

.navbar {
  .logo {
    font-size: $heading;
    color: $primary-white;
    cursor: pointer;
    color: $primary-white;
  }
  .nav-links {
    &-item {
      color: $primary-white;
      font-size: $paragraph;
      cursor: pointer;
    }
  }
}
