@use './tokens.scss' as *;

.btn-primary {
  background-color: $primary-black !important;
  border-color: $primary-black !important;

  &:hover,
  &:focus,
  &:active,
  &.active,
  .show > &.dropdown-toggle {
    background-color: $primary-black !important;
    border-color: $primary-black-hover !important;
    color: $primary-white !important;
  }
}

.glass-container {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 1.5rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  color: $primary-white;
  max-width: 800px;
  padding-block: $space-16;
}

