// custom font size
$fs-paragraph: 1rem; // 16px, base reading text
$fs-subtitle: 1.125rem; // 18px, subtle sub-head
$fs-title: 1.5rem; // 24px, main section titles
$fs-heading: 2rem; // 32px, big headings
$fs-display: 3rem; // 48px, hero / banner text

// custom colors

$color-primary-white: #f8f9fa;

