@use "../../../styles/tokens.scss" as *;

.landing {
  padding-inline: $space-12;

  .search-field {
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .search-field {
    max-width: 400px;
  }
}
