/* You can add global styles to this file, and also import other style files */
@use "./styles/styles.reset.scss" as *;
@use "./styles/styles.custom.scss" as *;
@use "./styles/tokens.scss" as *;

@import "bootstrap/dist/css/bootstrap.min.css";

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-image: url("./app/assets/images/body-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--primary-white) !important;
}

@media (min-width: 1200px) {
  body {
    background-image: url("./app/assets/images/body-bg-web.jpg");
  }
}
